.heroContainer {
  display: grid;
  grid-template-areas:
    "content image"
    "stats stats";

  grid-template-columns: 720px 568px;

  gap: 24px;
}

.heroContent {
  grid-area: content;

  min-height: 530px;

  padding: 98px 64px;

  background: var(--foreground);

  border-radius: 30px;
}

.heroTitle {
  font-weight: var(--fw-medium);
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  padding-bottom: 32px;
  width: 548px;
}

.highlight {
  font-style: var(--fs-italic);

  border-radius: 8px;
  width: 195px;
  height: 40px;

  background: #fbe9ba;
}
.heroDescription {
  width: 471px;
  height: 66px;

  line-height: 1.38;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
}

.getStartedButton {
  border-radius: 12px;
  padding: 16px 88px;
  min-width: 267px;
  height: 60px;
  background: var(--button);
  font-weight: var(--fw-bold);
  font-size: var(--fz-18);
  line-height: 1.56;
  transition: background-color var(--transition);
}
.getStartedButton:hover,
.getStartedButton:focus {
  background-color: var(--button-hover);
}

.heroImage {
  grid-area: image;

  min-height: 530px;

  border-radius: 30px;

  background: #fbe9ba;
}
