.headerContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "logo navigation auth";
  align-items: center;

  height: 48px;
  margin-top: 20px;
  margin-bottom: 32px;
}
